a {
    text-decoration: none;
}

.product-card {
    background-color: white;
    width: 250px;
    height: 373px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888e96;
    float: left;
    margin: 1rem;
}

.product-img {
    border-radius: 10px 10px 0 0;
    margin: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img-container {
    border-radius: 10px 10px 0 0;
    padding: 0;
}

.img-container {
    border-radius: 10px 10px 0 0;
    padding: 0;
}

p {
    font-family: 'Inter', 'Sans-serif';
    color: #000000;
    padding: 0px 15px;
    margin: 15px 0px;
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    max-height: 58px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.product-price{
    font-size: 1rem;
    font-weight: 600;
}

.product-sold{
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 20px;
}