<header class="nav">
    <div class="col-5"></div>
    <a href="dashboard-admin.php" class="col-2 nav-title">DoraStore</a>
    <div class="search-container">
        <form action="">
            <input id="search-input" type="text" placeholder="Search" name="search">
            <button id="search-button" type="submit"><img src="./img/search.png" class="src-img"></button>
        </form>
    </div>
    <form method="post">
        <input class="nav-logout" value="Logout" name="logout" type="submit">
        <input class="nav-btn" value="Add Variant" name="add-variant" type="submit">
        <input class="nav-btn" value="Check Requests" name="check-request" type="submit">
    </form>
</header>